.list-status ul li,
.todo-item i,
.backlog-item i,
.doing-item i,
.done-item i {
	cursor: pointer;
}

.list-status ul li {
	color: blue;
}

.list-status ul li.active {
	text-decoration: underline;
}

.todo-item i.disabled {
	color: gray;
}

.can-edit {
	min-width: inherit;
	word-break: break-all;
}

.fa-caret-right:hover,
.fa-caret-left:hover {
	transform: scale(1.4);
}

.fa-caret-right,
.fa-caret-left {
	transition: transform 0.1s;
}
